
{% extends "watchw/base.html" %}
{% load static %}


{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_responsive.css' %}">
{% endblock %}

{% block body %}


<!-- Cart Info -->

<div class="cart_info">
	<div class="container">
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-warning w-100" role="alert">
			{{message}}
		</div>
		{% endfor %}
		{% endif %}	
		<div class="row">
			<div class="col">
				<!-- Column Titles -->
				<div class="cart_info_columns clearfix">
					<div class="cart_info_col cart_info_col_product">Product</div>
					<div class="cart_info_col cart_info_col_price">Price</div>
					<!-- <div class="cart_info_col cart_info_col_quantity">Quantity</div>
					<div class="cart_info_col cart_info_col_total">Total</div> -->
				</div>
			</div>
		</div>
		<div class="row cart_items_row">
			<div class="col">
				<!-- Cart Item -->
				{% if not items %}
					<p class="lead my-5 text-center">Your cart is empty</p>
				{% else %}
					{% for item in items %}
							<div
								class="mb-5 cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-around">
								<!-- Name -->
								<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
									<div class="cart_item_image">
										<div><img class="product_image" src="{{item.main_image_url}}" alt="itemImage{{forloop.counter}}"></div>
									</div>
									<div class="cart_item_name_container">
										<div class="cart_item_name"><a href="#">{{item.name}}</a></div>
									</div>
								</div>
								<!-- Price -->
								<div class="cart_item_price">{{item.price}} EGP</div>
								<!-- Quantity
								<div class="cart_item_quantity">
									<div class="product_quantity_container">
										<div class="product_quantity clearfix">
											<span>Qty</span>
											<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
											<div class="quantity_buttons">
												<div id="quantity_inc_button" class="quantity_inc quantity_control"><i
														class="fa fa-chevron-up" aria-hidden="true"></i></div>
												<div id="quantity_dec_button" class="quantity_dec quantity_control"><i
														class="fa fa-chevron-down" aria-hidden="true"></i></div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- Total -->
								<!-- <div class="cart_item_total">item.price</div> -->
							</div>
					{% endfor %}
				
				</div>
			</div>
			
		{% endif %}
		<div class="row row_cart_buttons">
			<div class="col">
				<div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
					<div class="button continue_shopping_button"><a href="{% url 'index' %}">Continue shopping</a></div>
					<div class="cart_buttons_right ml-lg-auto">
						<form action="{% url 'clear_user_cart' %}" method="post" id="clear">
							{% csrf_token %}
							<div class="button clear_cart_button" onclick="submitForm('clear')"><a href="#">Clear cart</a></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row row_extra">
			<div class="col-lg-4">

				<!-- Delivery -->
				<div class="delivery">
					<div class="section_title">Shipping method</div>
					<div class="section_subtitle">Select the one you want</div>
					<div class="delivery_options">
						<label class="delivery_option clearfix">Standard delivery
							<input type="radio" name="radio" value=14.99>
							<span class="checkmark"></span>
						</label>
						<label class="delivery_option clearfix">Personal pickup
							<input type="radio" checked="checked" name="radio" value=0>
							<span class="checkmark"></span>
						</label>
					</div>
				</div>

				<!-- Coupon Code -->
				<div class="coupon">
					<div class="section_title">Coupon code</div>
					<div class="section_subtitle">Enter your coupon code</div>
					<div class="coupon_form_container">
						<form action="{% url 'apply_coupon' %}" method="POST" id="coupon_form" class="coupon_form">
							{% csrf_token %}
							<input type="text" class="coupon_input" name="coupon_code" required="required">
							<button class="button coupon_button"><span>Apply</span></button>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-6 offset-lg-2">
				<div class="cart_total">
					<div class="section_title">Cart total</div>
					<div class="section_subtitle">Final info</div>
					<div class="cart_total_container">
						<ul>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Subtotal</div>
								<div class="cart_total_value ml-auto">{{total_price}} EGP</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Shipping</div>
								<div class="cart_total_value ml-auto">Free</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Total</div>
								<div class="cart_total_value ml-auto">{{total_price}} EGP</div>
							</li>
						</ul>
					</div>
						<div class="button checkout_button" id="checkout" ><a href="{% url 'checkout' %}">Proceed to checkout</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/cart.js' %}"></script>
<script>
	const submitForm = (formId) => {
		document.getElementById(formId).submit()
	}

	// send the shipping price to the server
	// document.querySelector("#checkout").onclick = () => {
	// 	alert('clicked')
	// 	const shipping_fees = document.querySelector('input[name="radio"]:checked').value;
	// 	const order_price = document.querySelector('.cart_total_value ');
	// 	// window.location.href = "{% url 'checkout' %}";
	// 	console.log(shipping_fees)
	// }
</script>
{% endblock %}



















