{% extends "watchw/base.html" %}
{% load static %}


{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout_responsive.css' %}">
<script src="https://js.stripe.com/v3/"></script> <!-- new -->
{% endblock %}


{% block body %}


<!-- Checkout -->

<div class="checkout">
	<div class="container">
		<div class="row">

			<!-- Billing Info -->
			<div class="col-lg-6">
				<div class="billing checkout_section">
					<div class="section_title">Billing Address</div>
					<div class="section_subtitle">Enter your address info</div>
					<div class="checkout_form_container">
						<form action="#" id="checkout_form" class="checkout_form">
							<div class="row">
								<div class="col-xl-6">
									<!-- Name -->
									<label for="checkout_name">First Name*</label>
									<input type="text" id="checkout_name" class="checkout_input" required="required">
								</div>
								<div class="col-xl-6 last_name_col">
									<!-- Last Name -->
									<label for="checkout_last_name">Last Name*</label>
									<input type="text" id="checkout_last_name" class="checkout_input"
										required="required">
								</div>
							</div>
							<div>
								<!-- Address -->
								<label for="checkout_address">Address*</label>
								<input type="text" id="checkout_address" class="checkout_input" required="required">
							</div>
							<div>
								<!-- Zipcode -->
								<label for="checkout_zipcode">Zipcode*</label>
								<input type="text" id="checkout_zipcode" class="checkout_input" required="required">
							</div>
							<div>
								<!-- City / Town -->
								<label for="checkout_city">Governorate*</label>
								<select name="checkout_city" id="checkout_city"
									class="dropdown_item_select checkout_input" require="required">
									<option></option>
									{% for gov in egypt_govs %}
									<option value="{{gov}}">{{gov}}</option>
									{% endfor %}

								</select>
							</div>
							<div>
								<!-- Phone no -->
								<label for="checkout_phone">Phone no*</label>
								<input type="phone" id="checkout_phone" class="checkout_input" required="required">
							</div>
							<div class="checkout_extra">
								<div>
									<input type="checkbox" id="checkbox_terms" name="regular_checkbox"
										class="regular_checkbox" checked="checked">
									<label for="checkbox_terms"><img src="{% static 'images/check.png' %}"
											alt=""></label>
									<span class="checkbox_title">Terms and conditions</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- Order Info -->

			<div class="col-lg-6">
				<div class="order checkout_section">
					<div class="section_title">Your order</div>
					<div class="section_subtitle">Order details</div>

					<!-- Order details -->
					<div class="order_list_container">
						<div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
							<div class="order_list_title">Product</div>
							<div class="order_list_value ml-auto">Total</div>
						</div>
						<ul class="order_list">
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="order_list_title">Order</div>
								<div class="order_list_value ml-auto">{{total_price}} EGP</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="order_list_title">Shipping</div>
								<div class="order_list_value ml-auto">Free</div>
							</li>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="order_list_title">Total</div>
								<div class="order_list_value ml-auto">{{total_price}} EGP</div>
							</li>
						</ul>
					</div>

					<!-- Payment Options -->
					<div class="payment">
						<div class="payment_options">
							<label class="payment_option clearfix">Stripe
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
							<label class="payment_option clearfix">Cash on delivery
								<input type="radio" name="radio">
								<span class="checkmark"></span>
							</label>
						</div>
					</div>

					<!-- Order Text -->
					<!-- <div class="order_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra temp or so dales. Phasellus sagittis auctor gravida. Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</div> -->
					<div class="button order_button" id="place_order"><a>Place Order</a></div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/checkout.js' %}"></script>

<script>

	// Get Stripe publishable key
	fetch("/watchw/stripe_config/")
		.then((result) => {
			return result.json();
		})
		.then((data) => {
			// Initialize Stripe.js
			const stripe = Stripe(data.publicKey);

			// new
			// Event handler
			document.querySelector("#place_order").addEventListener("click", () => {
				// Get Checkout Session ID
				fetch("/watchw/create-checkout-session/")
					.then((result) => {
						// sha88al dol ashan tshoof el error fen
						// console.log('ana el result')
						console.log(result)
						return result.json();
					})
					.then((data) => {
						console.log(data);
						// Redirect to Stripe Checkout
						return stripe.redirectToCheckout({
							sessionId: data.sessionId
						})
					})
					.then((res) => {
						console.log(res);
					});
			});
		});
</script>
{% endblock %}