{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchW</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/cart_responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>

<body>

    <div class="header_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start">
                        <div class="logo"><a href="{% url 'index' %}">WatchW</a></div>

                        <nav class="main_nav ml-auto">
                            <ul>
                                <li class="active">
                                    <a href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="hassubs">
                                    <a href="">Categories</a>
                                    <ul>
                                        <li><a href="{% url 'categories' type='Casual' %}">Casual</a></li>
                                        <li><a href="{% url 'categories' type='Dress' %}">Dress</a></li>
                                        <li><a href="{% url 'categories' type='Sport' %}">Sports</a></li>
                                        <li><a href="{% url 'categories' type='Smart'%}">Smart</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                {% if request.user.is_superuser %}
                                <li><a href="{% url 'superuser_pending_orders' %}">Pending Customers' Orders</a></li>
                                {% endif %}

                                {% if request.user.is_authenticated %}
                                <div class="shopping_cart">
                                    <a href="{% url 'cart' %}">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                            viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;"
                                            xml:space="preserve">
                                            <g>
                                                <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
													c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
													C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
													H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
													c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
                                            </g>
                                        </svg>
                                        <div>Cart <span>({{count}})</span></div>
                                    </a>
                                </div>
                                {% else %}
                                <li class="ml-5"><a href="{% url 'login' %}">Login</a></li>
                                <li><a href="{% url 'register' %}">Register</a></li>
                                {% endif %}

                            </ul>
                        </nav>
                        <div class="header_extra ml-auto">
                            {% if request.user.is_authenticated %}
                            <li class='hassubs'>
                                <a href="" class="user-icon-and-text" style="font-size: 16px;
	font-weight: 600;
	color: #767676;">
                                    <i class="fa fa-user mr-3"></i>
                                    {{request.user.username}}
                                </a>
                                <ul>
                                    <li><a href="{% url 'past_orders' %}">Orders</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>

                            {% endif %}


                            <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper fadeInDown mt-5">
        
        <div id="formContent">
            {% if message %}
            <div class="alert alert-warning w-100" role="alert">
                {{message}}
            </div>
            {% endif %}
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://images.vexels.com/media/users/3/136994/isolated/lists/aa3216bc8664471a5f75363fd74c728a-timer-clock-icon.png"
                    id="icon" class="my-5" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="Enter your username." required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter your password." required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <div id="formFooter">
                <a class="underlineHover" href="{% url 'register' %}">Don't have an account? Sign up</a>
            </div>

        </div>
    </div>
</body>

</html>
