{% extends "watchw/base.html" %}
{% load static %}


{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/cart_responsive.css' %}">
{% endblock %}

{% block body %}

<!-- Cart Info -->

<div class="cart_info">
    <div class="container">
        {% if pending_orders %}
        
            {% for order in pending_orders %}
            <div class="row">
                <div class="col">
                    <!-- Column Titles -->
                    <div class="cart_info_columns clearfix d-flex justify-content-between my-5 ">
                        <div class="cart_info_col"><strong> ID: {{order.id}}</strong></div>
                        <div class="cart_info_col"><strong>Date: {{order.date}}</strong></div>
                        {% if order.order_confirmed %}
                        <div class="cart_info_col"><strong>Status: Confirmed</strong></div>
                        {% else %}
                        <div class="cart_info_col"><strong>Status: Pending</strong></div>
                        {% endif %}
                        <div class="cart_info_col"><strong>Paid: {{order.total_price}}</strong></div>
                    </div>
                </div>
            </div>
            <div class="row cart_items_row">
                <div class="col">
                    <!-- Past Item -->
                    {% for item in order.items.all %}
                    <div
                        class="mb-5 cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-around">
                        <!-- Name -->
                        <div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
                            <div class="cart_item_image">
                                <div><img class="product_image" src="{{item.main_image_url}}"
                                        alt="itemImage{{forloop.counter}}"></div>
                            </div>
                            <div class="cart_item_name_container">
                                <div class="cart_item_name"><a href="#">{{item.name}}</a></div>
                            </div>
                        </div>
                        <!-- Price -->
                        <div class="cart_item_price">{{item.price}} EGP</div>
                    </div>
                    {% endfor %}
                    <form action="{% url 'confirm_pending_order' %}" id="form{{forloop.counter}}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="order_id" value="{{order.id}}" class="d-none">
                        <div class="button w-100 mb-5" onclick="submitForm('button{{forloop.counter}}', 'form{{forloop.counter}}')" id="button{{forloop.counter}}"><a href="#">Confirm Order</a></div>
                    </form>
                    {% endfor %}
                </div>
            </div>

            {% else %}
            <h1 class="text-center mt-5">No new orders</h1>
            {% endif %}

            {% endblock %}


        {% block scripts %}
        <script src="{% static 'js/cart.js' %}"></script>
        <script>
            const submitForm = (btn_id, form_id) => {
                    let confirmation = confirm("Confirm order?")
                    if (confirmation == false) {
                        return false;
                    }
                    document.getElementById(form_id).submit()
                }
        </script>
        {% endblock %}
