{% extends "watchw/base.html" %}
{% load static %}


{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">
{% endblock %}
	
{% block body %}

	<!-- Product Details -->

	<div class="product_details">
		<div class="container">
			<div class="row details_row">

				<!-- Product Image -->
				<div class="col-lg-6">
					<div class="details_image">
						<div class="details_image_large"><img class="d-block mx-auto" src="{{product.main_image_url}}" alt=""><div class="product_extra product_new"><a href="">New</a></div></div>
						<div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-center">
							<div class="details_image_thumbnail active" data-image="{{product.main_image_url}}"><img src="{{product.main_image_url}}" alt="main image"></div>
							<!-- <div class="details_image_thumbnail" data-image="{% static 'images/details_1.jpg' %}"><img src="{% static 'images/details_1.jpg' %}" alt=""></div>
							<div class="details_image_thumbnail" data-image="{% static 'images/details_2.jpg' %}"><img src="{% static 'images/details_2.jpg' %}" alt=""></div> -->
						</div>
					</div>
				</div>

				<!-- Product Content -->
				<div class="col-lg-6">
					<div class="details_content">
						<div class="details_name">{{product.name}}</div>
						<div class="details_discount">{{product.price|slice:"0:1"|add:"1"}}{{product.price|slice:"1:"}} EGP</div>
						<div class="details_price">{{product.price}} EGP</div>

						<!-- In Stock -->
						<div class="in_stock_container">
							<div class="availability">Availability:</div>
							<span>In Stock</span>
						</div>
						<div class="details_text">
							<p>{{product.product_description|truncatechars:250}} <a href="#desc">Read More</a></p>
						</div>

						

						<form action="{% url 'add_item_to_cart' %}" id="add_to_cart" method="POST">
							{% csrf_token %}
							<input type="text" name="product_id" value="{{product.id}}" style="display: none;">
							<div class="button clear_cart_button mt-5" onclick="submitForm()"><a href="#">Add to Cart</a></div>

						</form>

						<!-- Share -->
						<div class="details_share">
							<span>Share:</span>
							<ul>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="row description_row">
				<div class="col">
					<div class="description_title_container">
						<div class="description_title" id="desc">Description</div>
					</div>
					<div class="description_text mb-5">
						<p>{{product.product_description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/product.js' %}"></script>

<script>
	const submitForm = () => {
		document.querySelector("#add_to_cart").submit()
	}
</script>

{% endblock %}
